USE [master]
GO
/****** Object:  Database [TUP_PARCIAL_VINOTECA]    Script Date: 10/16/2020 8:35:22 PM ******/
CREATE DATABASE [TUP_PARCIAL_VINOTECA]

ALTER DATABASE [TUP_PARCIAL_VINOTECA] SET ANSI_NULL_DEFAULT OFF 
GO
USE [TUP_PARCIAL_VINOTECA]
GO
/****** Object:  User [tup_vinoteca]    Script Date: 10/16/2020 8:35:22 PM ******/
CREATE USER [tup_vinoteca] FOR LOGIN [tup_vinoteca] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Bodegas]    Script Date: 10/16/2020 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bodegas](
	[idBodeba] [int] IDENTITY(1,1) NOT NULL,
	[nombreBodega] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Bodegas] PRIMARY KEY CLUSTERED 
(
	[idBodeba] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vinos]    Script Date: 10/16/2020 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vinos](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[bodega] [int] NOT NULL,
	[presentacion] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_Vinos] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bodegas] ON 

INSERT [dbo].[Bodegas] ([idBodeba], [nombreBodega]) VALUES (1, N'NAVARRO CORREAS')
INSERT [dbo].[Bodegas] ([idBodeba], [nombreBodega]) VALUES (2, N'NORTON')
INSERT [dbo].[Bodegas] ([idBodeba], [nombreBodega]) VALUES (3, N'ZUCCARDI')
SET IDENTITY_INSERT [dbo].[Bodegas] OFF
SET IDENTITY_INSERT [dbo].[Vinos] ON 

INSERT [dbo].[Vinos] ([codigo], [nombre], [bodega], [presentacion], [precio], [fecha]) VALUES (1, N'Tardio', 2, 1, 700, CAST(N'2020-08-08' AS Date))
SET IDENTITY_INSERT [dbo].[Vinos] OFF
ALTER TABLE [dbo].[Vinos]  WITH CHECK ADD  CONSTRAINT [FK_Vinos_Vinos] FOREIGN KEY([bodega])
REFERENCES [dbo].[Bodegas] ([idBodeba])
GO
ALTER TABLE [dbo].[Vinos] CHECK CONSTRAINT [FK_Vinos_Vinos]
GO
USE [master]
GO
